.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 90px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    // Add scroll when list items get larger. Overflow doesn't take up space.
    overflow: overlay;
  }

  button {
    // Positions button at the bottom.
    margin-top: auto;
  }
}
